* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px "Open Sans", Futura, sans-serif;
    margin: 0;
}
#root {
    width: 80vw;
    height: 100vh;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin: auto;
}
h1,h2{
    color: white;
    font-family: "Open Sans", sans-serif;
    line-height: 1.8;
}
h1{
    font-size: 2.4vw;
}
h2{
    font-size: 2.0vw;
}
h3{
    font-size: 1.1vw;
}
p{
    font-size: 0.8vw;
}
.header{
    position: relative;
}
.players{
    left: 0;
    display: inline-block;
    width: 17vw;
    height: 7vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.rounds{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #8ABED8;
    width: 17vw;
    height: 7vh;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    margin: 3vh;
    line-height: 2;
    font-size: 1.3vw;
    color: #8ABED8;
    background-color: white;
    border-radius: 20px;
}
.buttons{
    width: 8%;
    justify-content: center;
    margin-left:80%;
}
.button:hover{
    box-shadow: 0px 0px 15px 10px rgba(125, 125, 125, 0.5);
}
.button-icon {
    fill: #8ABED8;
    width: 100%;
}
.popup{
    position: fixed;
    top: 0;
    left: 10vw;
    background-color: rgba(31,73,88,0.4);
    width:80%;
    height: 100%;
}
.rules{
    color: black;
    position: absolute;
    top: 10%;
    left: 15%;
    width:70%;
    height: 80%;
    background-color: white;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.7);
}
.rules-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: -webkit-linear-gradient(left, #4d31a0,#81cfd8); 
    background: -o-linear-gradient(right, #4d31a0,#81cfd8); 
    background: -moz-linear-gradient(right, #4d31a0,#81cfd8); 
    background: linear-gradient(to right, #4d31a0,#81cfd8); 
    background-color:#1ebbdb;
}
#close-icon{
    position: absolute;
    top: -1.2vw;
    right: -1.2vw;
    border-radius: 50%;
    border-style: none;
    font-size: 2.0vw;
    color: gainsboro;
    line-height: 0;
    width: 2.5vw;
    height: 2.5vw;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}
#close-icon:hover{
    color: gray;
    z-index: 1;
}
.rules-ul{
    list-style: none;
    padding-top: 1vh;
    padding-left: 2vw;
}
.tab{
    margin-top: 3vh;
    font-size: 1.5vw;
    color: white;
    font-weight: 600;
}
.tab:hover{
    text-shadow: 1.5px 1.5px 2px rgba(255, 255, 255, 0.7);
}
.active-tab{
    color: coral;
}
.rules-detail{
    position: absolute;
    width: 60%;
    right: 0;
    top: 0;
    padding: 3vw;
}
.middle{
    justify-content: center;
    margin: 0 auto;
}
.title{
    text-align: center;
    line-height: 3;
    margin-top: -3vh;
}


/*CMV*/
.CMV-chart{
    margin: 0 auto;
    color: white;
    font-size: 1.3vw;
    line-height: 1.6;
    width: 55%;
    border-spacing: 0 2.5vh;
    text-align: center;
}
.CMV-chart th{
    color: #8ABED8;
}
.CMV-chart td:first-child {
    text-align: left;
    padding-left: 2vw;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
}
.CMV-chart td:last-child {
    border-bottom-right-radius: 20px; 
    border-top-right-radius: 20px; 
}


/*TI*/
.TI{
    background-color: #8ABED8;
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    border-radius: 20px;
    overflow: scroll;
}
.TI-ul{
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    margin: 0 auto;
}
.tab-TI{
    display: inline-block;
    background-color: white;
    width: 30%;
    font-size: 1.3vw;
    color: #8ABED8;
    border-radius: 20px;
    text-align: center;
    line-height: 1.8;
    margin: 1vh;
}
.active-tab-TI{
    color: white;
}
.level-TD{
    padding: 1vw;
    color: white;
    background-color: transparent;
    border-style: none;
}
.choice-TD{
    padding: 1vw;
    color: white;
}
.cell{   
    border-radius: 20px;
    height: 15vh;
    padding: 0.4vw;
}
.TI-table{
    width: 96%;
    margin: 0 auto;
    border-spacing: 0 1vh;
    table-layout: fixed;
}
.row-TI{
    background-color: #BBD9E9;
    height: 14.5vh;
}
.row-TI td:first-child {
    text-align: left;
    padding-left: 2vw;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
.row-TI td:last-child {
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

